body
{
    background-color: grey;
}

#page-principale
{
    text-align: center;
    background-color: black;
}


                                /* Titre et Instructions */


h1
{
    color: orangered;
    font-size: 45px;
}

#instructions
{
    font-family: Verdana, Tahoma, sans-serif;
    color: dodgerblue;
    font-size: 17px;
}


                                /* Box 3x3 */


#b1, #b2, #b3, #b4, #b5, #b6, #b7, #b8, #b9
{
    width: 80px;
    height: 52px;
    margin: auto;
    border: 1px solid gray;
    border-radius: 6px;
    font-size: 30px;
    text-align: center;
}


                                /* Bouton Reset */


#reset
{
    box-sizing: border-box;
    width: 95px;
    height: 40px;
    border: 1px solid dodgerblue;
    margin: auto;
    border-radius: 4px;
    font-family: Verdana, Tahoma, sans-serif;
    background-color: dodgerblue;
    color: white;
    font-size: 20px;
    cursor: pointer;
}


                                /* Tours des joueurs */
    

#print
{
    font-family: Verdana, Tahoma, sans-serif;
    color: dodgerblue;
    font-size: 20px;
}